@import '../style.scss';

.change-theme-btn{
    border-radius: 50%;
    border: 3px solid $grayColor2;
    background-color: $blueColor;
}

.theme-btn{
    width: 40px;
    height: 40px;
    padding: 5px;
}