.Shop__btn-list_btn{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    height: 66px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFFB2;
    color: #87AE60;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #87AE60;
    box-shadow: 0px 0px 9px rgb(0 0 0 / 25%);
    cursor: pointer;
    margin-left: -40px;
}

.Shop__btn-list_btn:last-child{
    border-radius: 0px 0px 6px 6px;
}

.Shop__btn-list_btn img{
    width: 60px;
    height: 60px;

}

.Shop__btn-list_btn-cont{
    display: flex;
    background-color: #FBFF8E;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 3px solid #637F16;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 25%);
    margin-left: 15px;
}
