.Shop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.Shop__btn{
    margin-top: 31px;
    margin-left: -2%;
    padding: 17px;
    background-color: #FCFFB2;
    color: #87AE60;
    font-weight: 700;
    font-size: 33px;
    border-radius: 6px;
    border: 1px solid #87AE60;
    box-shadow: 0px 0px 10px 1px #0000003d;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 441px;
    justify-content: space-around;

    img{
        width: 40px;
    }
}