@import '../style.scss';

.Task-Item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $whiteGrayColor;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 15px;
    border-radius: 7px;
}

.Task-Item-h3{
    font-family: monospace;
    font-weight: normal;
    font-size: 20px;
}

.Task-Item-button{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    font-size: 20px;
    border: 0px;
    font-family: $fuzzy;
    background-color: $blueColor;
    color: $whiteGrayColor;
    border-radius: 7px;

    cursor: pointer;
}