@import '../style.scss';

.TaskList{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.TaskList-fallback{
    color: $whiteGrayColor;
    font-size: 22px;
    font-family: $fuzzy;
    display: flex;
    justify-content: center;
}